<!-- provide custom subtitle for each page -->
<% content_for(:subtitle) do %> | FAQ<% end %>

<div class="container">
	<h1 class="orange">Frequently Asked Questions</h1>
	<br>
	<div class="button-div text-right">
		<!-- todo change this to a meaningful button -->
		<%= link_to "Create an Account", new_customer_path, class: "btn btn-success" %>
	</div>
	<section id="faq-section">
		<ol>
			<li>
				<div class="question">
					How do I set up an account?&nbsp;&nbsp;<%= render 'layouts/drop_arrows' %>
				</div>
				<div class="answer">
					<p>Contact us directly, either by sending us an email at <a href="mailto:sales@ConsciousOffice.io">sales@ConsciousOffice.io</a> or on this website by <%= link_to "applying for an account", new_customer_path %>.</p>
				</div>
			</li><!-- end one question -->
			<li>
				<div class="question">
					Why was this company started?&nbsp;&nbsp;<%= render 'layouts/drop_arrows' %>
				</div>
				<div class="answer">
					<p>Sustainability should be accessible.</p>
					<p>Sustainability should be easy.</p>
					<p>Sustainability should be commonplace professionalism.</p>
					<p>You know the rest.</p>
				</div>				
			</li><!-- end another question -->
			<li>
				<div class="question">
					Do you sell only sustainable products?&nbsp;&nbsp;<%= render 'layouts/drop_arrows' %>
				</div>
				<div class="answer">
					<p>No...</p>
					<p>Unfortunately, the sustainability movement hasn't yet gotten to a point in society where we can demand everyone to buy only green and sustainable products. But this a vision we're working toward -- a world where sustainability is the default and everybody everywhere knows how to live in it.</p> 
					<p>So, although we work hard to provide you with sustainable alternatives to not-so-sustainable items, we can supply pretty much whatever your office needs.</p>
				</div>				
			</li><!-- end another question -->
			<li>
				<div class="question">
					How can I help?&nbsp;&nbsp;<%= render 'layouts/drop_arrows' %>
				</div>
				<div class="answer">
					<p>We need clients. Lots of clients. The more money we can make, the more buying power we have with our suppliers and with policymakers in Washington.</p>
					<!-- <p>The more we interact with the market, the more we can demand of it.</p> -->
					<p>Stay tuned for updates regarding our political goals in sustainability, and how you can get invovled. </p>
				</div>				
			</li><!-- end another question -->			

		</ol>
	</section>

	<!-- todo  feedback area - let them add their new questions -->
</div><!-- end .container