<!-- provide custom subtitle for each page -->
<% content_for(:subtitle) do %> | FAQ<% end %>
<div class="container animated fadeInDown delay03s">
	<h1 class="orange">Frequently Asked Questions</h1>
	<br>
	<div class="button-div text-right">
		<!-- todo change this to a meaningful button -->
		<%= link_to "Create an Account", new_customer_path, class: "btn btn-success" %>
	</div>
	<section id="faq-section" class="animated fadeInUp delay09s">
		<ol>
			<!-- <h2>GENERAL</h2> -->
			<li>
				<div class="question">
					Who can you sell to?&nbsp;&nbsp;<%= render 'layouts/drop_arrows' %>
				</div>
				<div class="answer">
					<p>Right now we are strictly business to business.</p>
					<p>If you represent a business, please <%= link_to "click here", new_customer_path %>.</p>
				</div>
			</li><!-- end one question -->			
			<li>
				<div class="question">
					How do I set up an account?&nbsp;&nbsp;<%= render 'layouts/drop_arrows' %>
				</div>
				<div class="answer">
					<p>Contact us directly, either by sending us an email at <a href="mailto:sales@ConsciousOffice.io">sales@ConsciousOffice.io</a> or on this website by <%= link_to "applying for an account", new_customer_path %>.</p>
				</div>
			</li><!-- end one question -->
			<li>
				<div class="question">
					Why was this company started?&nbsp;&nbsp;<%= render 'layouts/drop_arrows' %>
				</div>
				<div class="answer">
					<p>Sustainability should be accessible.</p>
					<p>Sustainability should be easy.</p>
					<p>Sustainability should be commonplace professionalism.</p>
					<p>You know the rest.</p>
				</div>				
			</li><!-- end another question -->
			<li>
				<div class="question">
					Do you sell only sustainable products?&nbsp;&nbsp;<%= render 'layouts/drop_arrows' %>
				</div>
				<div class="answer">
					<p>No...</p>
					<p>Unfortunately, the sustainability movement hasn't yet gotten to a point where we can demand that every client buys only green and sustainable products. But this a vision we're working toward -- a world where sustainability is the default and everybody everywhere knows how to live in it.</p> 
					<p>So, although we work hard to provide you with sustainable alternatives to not-so-sustainable items, we can supply pretty much whatever your office needs.</p>
				</div>				
			</li><!-- end another question -->
			<li>
				<div class="question">
					How can I help?&nbsp;&nbsp;<%= render 'layouts/drop_arrows' %>
				</div>
				<div class="answer">
					<p>We need clients. Lots of clients. The more money we make, the more buying power we have with our suppliers and with policymakers in Washington.</p>
					<p>To refer a prospective client to us, please email us directly at <a href="mailto:sales@ConsciousOffice.io">sales@ConsciousOffice.io</a>. Thank you in advance!</p>
					<!-- <p>The more we interact with the market, the more we can demand of it.</p> -->
					<p>(Also, stay tuned for updates regarding our political goals in sustainability, and how you can get invovled.)</p>
				</div>				
			</li><!-- end another question -->	
			<li>
				<div class="question">
					How can I stay updated?&nbsp;&nbsp;<%= render 'layouts/drop_arrows' %>
				</div>
				<div class="answer">
					<p>Follow us on Twitter at <a href="https://twitter.com/ConsciousOffice" target="none">@ConsciousOffice</a></p>
				</div>				
			</li><!-- end another question -->	
			<!-- <h2>DETAILS</h2> -->
			<li>
				<div class="question">
					What if I can’t find the product I want on your website?&nbsp;&nbsp;<%= render 'layouts/drop_arrows' %>
				</div>
				<div class="answer">
					<p>In most cases, we can provide a suitable alternative to your desired product.  If not, it’s likely we can do some work to source that exact item for you.  Please let us know what you’d like to be made available by sending an email to <a href="mailto:sales@ConsciousOffice.io">sales@ConsciousOffice.io</a> or contacting your existing sales rep directly.</p>
				</div>				
			</li><!-- end another question -->
			<li>
				<div class="question">
					Can I add to an order I just placed?&nbsp;&nbsp;<%= render 'layouts/drop_arrows' %>
				</div>
				<div class="answer">
					<p>You may add to an order that has been placed as long as it has not been shipped. In effort to provide timely shipping to you, we transmit orders several times a day.  Please contact your sales rep via text message (because it’s fast) as soon as possible so that they may alter the details on your behalf.</p>
					<p>And thanks for your order.</p>
				</div>				
			</li><!-- end another question -->			
			<li>
				<div class="question">
					How do I check the status of my order?&nbsp;&nbsp;<%= render 'layouts/drop_arrows' %>
				</div>
				<div class="answer">
					<p>Your sales rep knows all the things.</p>
				</div>				
			</li><!-- end another question -->	
			<li>
				<div class="question">
					Does Conscious Office have a rewards program?&nbsp;&nbsp;<%= render 'layouts/drop_arrows' %>
				</div>
				<div class="answer">
					<p>Not at the moment, but hang in there. As we expand, we plan to launch a rewards system based on a client’s sustainability ratings.  In the meantime, feel confident that we are offering competitive prices and superb customer service, with a global purpose.</p>
				</div>				
			</li><!-- end another question -->	
		</ol>
	</section>
	<!-- todo  feedback area - let them add their new questions -->
</div><!-- end .container