<h2>Sign up to be an Early Client</h2>


<p class="bold">Let's get started:</p>

<%= form_for(@lead) do |l| %>

	<div class="action-button">
		<%= p.submit class: 'submit-button' %>
	</div><!-- end .action-button -->


	<p class="text-center action-area">
		<%= l.submit class: 'submit-button' %>
		<button class="btn btn-success btn-lg"><%= link_to "Become a Client", new_customer_path %></button>
	</p>

<% end %><!-- end form for new customer lead -->




<div class="row">
	<div class="col-lg-offset-5 col-md-offset-4 col-lg-4 col-md-4 col-sm-offset-4 col-sm-5 col-xs-offset-0 col-xs-12">
		<ol class="text-left vis-sm vis-md vis-lg hidden-xs">
			<li>Your Name</li>
			<li>Your Company Name</li>
			<li>Company Size</li>
			<li>How You Found Us</li>
			<li>Your Sustainability Goals</li>
		</ol>
		<p class="text-center vis-xs hidden-sm hidden-md hidden-lg">
			1. Your Name<br>
			2. Your Company Name<br>
			3. Company Size<br>
			4. How You Found Us<br>
			5. Your Sustainability Goals<br>
		</p>
	</div><!-- end .col -->
</div><!-- end .row -->
<p class="green">We look forward to hearing from you!</p>

<div id="action-area">
	<p class="gray">Or to collaborate, visit our <%= link_to "Opportunities Page", opportunities_path %>.</p></div>
</div><!-- action area -->

<!-- <button class="btn btn-success btn-lg">
	<a href="mailto:sales@consciousoffice.io" class="wow delay-07s fadeInLeft">Join Conscious Office</a>
</button> -->
<br>
<br>
<br>
