<!-- provide custom subtitle for each page -->
<% content_for(:subtitle) do %> | Office Supplies<% end %>
<div class="animated fadeInDown delay07s">
	<div id="home-page-banner" class="container">		
		<div id="welcome-area" class="row">
			<h1 id="tagline">Office Supplies for Sustainability</h1>
		</div><!-- end #welcome-area -->
		<div class="text-left row">
			<div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
				<div class="box text-center">
					<p></p>
					<p>Our ideal customers are mission-driven ventures with offices in the US that spend a minimum of $1,000 USD per month collectively on their office, breakroom, and janitorial supplies.</p>
					<p>To join our private list of regular buyers committed to the cause of environmental sustainability, please begin by signing up below.</p>
				</div>
				<p class="text-center action-area">
					<button class="btn btn-success btn-lg"><%= link_to "Buy Your Supplies From Us", new_customer_path %></button>
				</p>
			</div>
		</div>
	</div><!-- end #home-page-banner -->
	<section id="offering-section" class="container">
		<h2 class="text-center"><big>How Are We Different?</big></h2>
		<br>
		<div class="well row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<p class="hidden-xs"></p>
				<%= image_tag("piggy-bank_black_Freepik_128.png", class: "icon-columns") %>	
				<!-- <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
			</div>		
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<h3>Well Priced</h3>
				<p>We make it as easy as possible for you to switch suppliers</p>  
				<p>Simply upload your current pricing to our system and we'll work on a pricing plan that fits your budget and your sustainability goals.</p>
				<button class="btn btn-success btn-lg"><%= link_to "Begin", new_customer_path %></button>
			</div>
		</div><!-- end .well -->
		<div class="well row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<p></p>
				<%= image_tag("green-earth_black_Freepik_128.png", class: "icon-columns") %>
				<!-- <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
			</div>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<h3>Sustainable Alternatives</h3>
				<p>We can sell your office (almost) whatever you want, but we prefer to sell you the more sustainable-leaning products.</p>
				<p>At Conscious Office, we are working on a sustainability labeling platform that will teach about sustainability while providing an easy-to-order list of sustainable items for your office.</p>
				<button class="btn btn-success btn-lg"><%= link_to "Become an Early Client", new_customer_path %></button></p>
			</div>
		</div><!-- end .well -->
		<div class="well row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<p></p>
				<%= image_tag("team_black_128_Freepik.png", class: "icon-columns") %>
				<!-- <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
			</div>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<h3>Community Membership</h3>
				<p>Our growing list of clients, advisors, and staff create a network of sustainability-committed people. We are using this network to work on the things that take a village to achieve.</p>
				<p>When you work with us, you are given the option to join this community.  If there's a connection you need -- and if both parties agree -- we'd like to make the introduction.</p>
				<button class="btn btn-success btn-lg"><%= link_to "Join the Community", new_customer_path %></button>
			</div>
		</div><!-- end .well -->
	</section><!-- #offering-section -->
	<!-- 
	<section id="mission-section">
		<div class="well">
			<p>TOOD insert mission here</p>
			<p>That means easy to order, easy to enjoy at work, and easy on the environment.</p>
		</div>
		<div class="well">
			<h3>Where We aAre On The Journey</h3>
			<p>We don't have it all figured out. The software we want to make is not created. We don't have the purchasing power we'd like.  We can't sell every sustainable product out there.</p>
			<p>We have a lot of work to do, and we're starting where we are today.  Join us where you are.</p>
		</div>
		<div class="well">
			
			<p>We are looking to partner with sustainable brands, impact investors, thought leaders, inventors, policy makers, entrepreneurs, and whoever else has committed to  </p>
		</div>
	</section> 
	-->

	<div id="action-area">
		<p class="gray">Want to know more? &nbsp;We like that. &nbsp;Here's a list of some <%= link_to "Frequently Asked Questions", faq_path %>.</p>
		<p class="gray">Or to collaborate, visit our <%= link_to "Opportunities Page", opportunities_path %>.</p></div>
	</div><!-- action area -->
	<br><br><br>
			
</div><!-- end animated area -->		