<nav>
	<div id="nav-brand-area">
		<%= link_to root_path do %>
			<%= image_tag "CO-logo-v3.png", id: "nav-logo" %>
			<h1 class="logo-brand-text hidden">Conscious Office</h1>
		<% end %>
	</div>
    <div id="navigation-hamburger" class="hidden-md hidden-lg hidden-sm">
        <%= image_tag('menu.png') %>
           <!--  <div>Icons made by <a href="https://www.flaticon.com/authors/cole-bemis" title="Cole Bemis">Cole Bemis</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
        <div class="hidden">Menu</div>
    </div><!-- end #hamburger -->
	<ul id="navigation-list">
		<li><%= link_to "About", root_path %></li>
		<!-- <li><%= link_to "Mission Driven", mission_path %></li> -->
		<li><%= link_to "FAQ", faq_path %></li>
		<li><%= link_to "Contribute", contribute_path %></li>
		<li><%= link_to "Join", new_customer_path, class: "btn btn-success" %></li>
		<li><%= link_to "Opportunities", opportunities_path %></li>
		<br>
	</ul><!-- end #navigation-list -->
</nav>