<nav>
	<div id="nav-brand-area">
		<%= link_to root_path do %>
			<h1 class="logo-brand-text">Conscious Office</h1>
			<!-- something is wrong with this image tag. Add loog image. -->
		<% end %>
	</div>
    <div id="navigation-hamburger" class="hidden-md hidden-lg hidden-sm">
      <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
        <%= image_tag('menu.png', class: "navigation-hamburger") %>
        <div class="hidden">Menu</div>
      </a>
    </div><!-- end #hamburger -->
	<ul id="navigation-list">
		<li><%= link_to "About", root_path %></li>
		<li><%= link_to "Join", new_customer_path %></li>
		<li><%= link_to "Opportunities", opportunities_path %></li>
		<br>
		<!-- <li><button type="button" class="btn btn-md btn-success" data-toggle="modal" data-target="#exampleModal">Join Our Growing Email Community</button></li> -->
		<!-- Modal begin -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Join our Email Community</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">   
	        	<!-- agile crm form code start for joining community email list -->
				<div id="consciousoffice_5717495361044480" class="agile_crm_form_embed"><span style="display:none">Fill out my <a href="https://consciousoffice.agilecrm.com/forms/5717495361044480">online form</a></span></div>
				<!-- agile crm form code end for joining community email list -->
		      </div><!-- end modal body -->
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- end modal -->
	</ul>
</nav>