<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- Global site tag (gtag.js) - for Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107992193-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-107992193-1');
	</script>
	<!-- end googl analytics tracking code -->
	<!-- 
	are the following included in csrf meta tags? 
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, maximum-scale=1">
	-->
    <title>Conscious Office<%= content_for(:subtitle) %></title>
    <%= csrf_meta_tags %>

    <!-- for bootstrap cdn for js only. TODO replace with a gem for bootstrap js? -->
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<!-- so that fontawesome icons render -->
	<script src="https://use.fontawesome.com/9aee4020bc.js"></script>
	<!-- end bootstrap cdn for js only -->
	<!-- todo add favicon below -->
	<link rel="icon" href="favicon.png" type="image/png">
	<!-- for a google font -->
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'layouts/navigation' %>
  	<main>
  		<div class="container text-center">
		    <%= yield %>
		</div><!-- end .container -->    
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
